<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to spring</title>


    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/jquery-2.1.4.min.js" th:src="@{/webjars/jquery/jquery-2.1.4.min.js}"></script>

    <link href="../static/css/spring-core.css" th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>


</head>
<body>
<div class="container">
    <h1>Hello world</h1>
    <h2>This is thymeleaf index page.Hello welcome to Spring</h2>
</div>

</body>
</html>